# =========================
# MATLAB 相关忽略文件
# =========================
# 自动备份文件
*.asv
*.m~
# 运行缓存目录
slprj/
sfprj/
# 忽略大型数据文件 (注意：如果你有几百KB的演示用小 .mat 数据想开源，请删除下面这一行)
*.mat

# =========================
# Python 相关忽略文件
# =========================
__pycache__/
*.py[cod]
*$py.class
# 虚拟环境目录
venv/
env/
.venv/
.env

# =========================
# 系统自动生成的隐藏文件
# =========================
.DS_Store
Thumbs.db
